<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kkoc6943.aboutme" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TitleScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".runningPageActivity"
            android:label="@string/title_activity_running_page" >
        </activity>
        <activity
            android:name=".RockClimbingActivity"
            android:label="@string/title_activity_rock_climbing" >
        </activity>
        <activity
            android:name=".LongboardingActivity"
            android:label="@string/title_activity_longboarding" >
        </activity>
        <activity
            android:name=".BreakdancingActivity"
            android:label="@string/title_activity_breakdancing" >
        </activity>
    </application>

</manifest>
